@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    background: url("https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*-------------------------------------SECTION----------------------------------------*/
section{
    position: relative;
    height: 1000px;
}
header{
    box-shadow: 1px 1px 10px black;
    padding: 30px 30px 100px 30px;
    background-color: rgba(119, 207, 230, 0.2);
}
h1{
    font-family: 'Audiowide', cursive;
    text-align: center;
    margin-top: 60px;
    font-size: 35pt;
    color: white;
    text-shadow: 3px 3px black;
}
figcaption{
    color: white;
    padding: 10px;
    font-size: 10pt;
    text-align: justify;
}

/*---------------------------------------------IMÁGENES--------------------------------*/
ul{
    list-style: none;
    overflow: hidden;
    width: 900px;
    margin: 0 auto;
    padding: 50px;
}
ul li{
    float: left;
    width: 250px;
    height: 250px;
    margin: 10px;
    box-shadow: 1px 1px 10px black;
}
ul li figcaption{
    opacity: 0;
    margin: 190px 5px 0px 5px;
    box-shadow: 1px 1px 10px white;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
    font-weight: bold;
    text-align: center;
}
ul li:hover{
    -webkit-transform: scale(1.4);
    transition: 1s;
}
ul li:hover figcaption{
    opacity: 1;
}
ul li#foto1{
    background: url("../imágenes/ecuador-colombia.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 410px 360px;
}
ul li#foto1:hover{
    background-position: 0px 0px;
    background-size: 300px 250px;
}
ul li#foto2{
    background: url("../imágenes/eris.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 380px 350px;
}
ul li#foto2:hover{
    background-position: 0px 0px;
    background-size: 250px 250px;
}
ul li#foto3{
    background: url("../imágenes/manifestaciones.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 550px 400px;
}
ul li#foto3:hover{
    background-position: 0px 0px;
    background-size: 350px 250px;
}

ul li#foto4
ul li#foto5
ul li#foto6

/*---------------------------------------ELIMINAR--------------------------------------*/
article.pos1{
    /*margin-top: 170px;
    margin-left: 80px;*/
    box-shadow: 1px 1px 10px black;
    position: absolute;
    top: 170px;
    left: 80px;
    width: 300px;
    padding: 0px;
}
article.pos2{
    /*margin-left: 530px;
    margin-top: -330px;*/
    box-shadow: 1px 1px 10px black;
    position: absolute;
    top: 170px;
    left: 530px;
    width: 300px;
    padding: 0px;
}
article.pos3{
    /*margin-left: 970px;
    margin-top: -305px;*/
    box-shadow: 1px 1px 10px black;
    position: absolute;
    top: 170px;
    left: 970px;
    width: 300px;
    padding: 0px;
}
span.subt{
    display: block;
    font-size: 10pt;
    margin-top: 40px;
    margin-right: -5px;
    margin-bottom: 8px;
    text-align: center;
    float: right;
    box-shadow: 1px 1px 10px black;
    width: 85px;
}
/*-------------------------------------PIE PÁGINA----------------------------------------*/
footer#piepagina{
    clear: both;
    color: white;
    margin-top: 300px;
}
footer#piepagina p{
    text-align: center;
    text-decoration: none;
}
footer#piepagina a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer#piepagina a:hover{
    background-color: rgb(9, 107, 172);
    color: white;
}
